<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="phone">
  <h2>追加</h2>

  <form method="post">
    タイトル
    <input name="title">

    種別
    <select name="type">
      <option>anime</option>
      <option>game</option>
    </select>

    状態
    <select name="status">
      <option>todo</option>
      <option>doing</option>
      <option>done</option>
    </select>

    評価
    <input type="number" name="rating">

    感想
    <textarea name="comment"></textarea>

    <button>追加</button>
  </form>
</div>
