<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="phone">
  <h2>編集</h2>

  <form method="post">
    タイトル
    <input name="title" value="{{ content[1] }}">

    種別
    <select name="type">
      <option value="anime" {% if content[2] == 'anime' %}selected{% endif %}>anime</option>
      <option value="game" {% if content[2] == 'game' %}selected{% endif %}>game</option>
    </select>

    状態
    <select name="status">
      <option value="todo" {% if content[3] == 'todo' %}selected{% endif %}>todo</option>
      <option value="doing" {% if content[3] == 'doing' %}selected{% endif %}>doing</option>
      <option value="done" {% if content[3] == 'done' %}selected{% endif %}>done</option>
    </select>

    評価
    <input type="number" name="rating" value="{{ content[4] }}">

    感想
    <textarea name="comment">{{ content[5] }}</textarea>

    <button>更新</button>
  </form>
</div>
