<h2>編集</h2>

<form method="post">
  タイトル:
  <input name="title" value="{{ content[1] }}"><br>

  種別:
  <select name="type">
    <option {% if content[2]=='anime' %}selected{% endif %}>anime</option>
    <option {% if content[2]=='game' %}selected{% endif %}>game</option>
  </select><br>

  状態:
  <select name="status">
    <option {% if content[3]=='todo' %}selected{% endif %}>todo</option>
    <option {% if content[3]=='doing' %}selected{% endif %}>doing</option>
    <option {% if content[3]=='done' %}selected{% endif %}>done</option>
  </select><br>

  評価:
  <input type="number" name="rating" value="{{ content[4] }}"><br>

  感想:<br>
  <textarea name="comment">{{ content[5] }}</textarea><br>

  <button>更新</button>
</form>
