<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="phone">
  <h2>編集</h2>

  <form method="post">
    タイトル
    <input name="title" value="{{ content[1] }}">

    種別
    <select name="type">
      <option value="anime" {% if content[2] == 'anime' %}selected{% endif %}>anime</option>
      <option value="game" {% if content[2] == 'game' %}selected{% endif %}>game</option>
    </select>

    状態
    <select name="status">
      <option value="todo" {% if content[3] == 'todo' %}selected{% endif %}>todo</option>
      <option value="doing" {% if content[3] == 'doing' %}selected{% endif %}>doing</option>
      <option value="done" {% if content[3] == 'done' %}selected{% endif %}>done</option>
    </select>

    評価
<label>評価</label>
<select name="rating" required>
  <option value="1" {% if content.rating == 1 %}selected{% endif %}>★☆☆☆☆</option>
  <option value="2" {% if content.rating == 2 %}selected{% endif %}>★★☆☆☆</option>
  <option value="3" {% if content.rating == 3 %}selected{% endif %}>★★★☆☆</option>
  <option value="4" {% if content.rating == 4 %}selected{% endif %}>★★★★☆</option>
  <option value="5" {% if content.rating == 5 %}selected{% endif %}>★★★★★</option>
</select>
<br>

    感想
    <textarea name="comment">{{ content[5] }}</textarea>

    <button>更新</button>
  </form>
</div>
