<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="phone">
  <h1>視聴・プレイ記録リマインダー</h1>

  <a href="/add" class="add-btn">追加</a>

  {% for c in contents %}
  <div class="item">
   <li>
  {{ c.title }}（{{ c.type }}）[{{ c.status }}]<br>

  評価：
  {% for i in range(c.rating) %}
    ★
  {% endfor %}
  {% for i in range(5 - c.rating) %}
    ☆
  {% endfor %}
  <br>

  <a href="/edit/{{ c.id }}">編集</a>
  <a href="/delete/{{ c.id }}">削除</a>
</li>
    </div>
  </div>
  {% endfor %}
</div>
